# Environment variables
.env

# Python virtual environment
venv/

# Log files
*.log

# Temporary files
*.tmp

# CSV files
*.csv

# IDE settings
.idea/
.vscode/

# Jupyter Notebook
*.ipynb

# Build and distribution
build/
dist/
*.egg-info/

# Other
__pycache__/
